body {
  margin: 0px;
}

.bgO {
  background-color: black !important;
  /* '!important' É mais importante que a configuração do Bootstrap */
}

.header-content {
  color: white !important;
}

.mr-auto,
.mx-auto {
  margin: 0px !important;
  gap: 30px !important;
}

.divCenter {
  justify-content: center;
}

.fontBold {
  font-weight: bold;
  color: black;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.video {
  display: flex;
  justify-content: center; /* Pega a caixinha de vídeo inteiro, e coloca pro centro */
}

.navHD:hover {
  background-color: #fccc84;
  border-radius: 15px;
  color: black !important;
  transition: all 0.2s;
}

.navHG:hover {
  background-color: rgb(201, 146, 253);
  border-radius: 15px;
  color: black !important;
  transition: all 0.2s;
}

.header-team-name {
  font: 700;
  color: white;
  margin-top: 30px;
}

.carousel-caption {
  top: 40%;
}

.main-carousel-title {
  font-size: 60px;
}

.main-carousel-text {
  font-size: 30px;
}

.history-box {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: #d3d3d3;
}
